.header-container {
  padding: 5px 15px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  img {
    height: 30px;
    cursor: pointer;
  }
}
